/* Font */
.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.raleway {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

button {
  border: none;
}


.header-container {
  min-height: 700px;
}

/* header nav */

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  color: #4E47FF;
  font-size: 34px;
  max-width: 1140px;
  margin: 0 auto;
}

.header-content button {
  background-color: #4E47FF;
  justify-content: center;
  color: white;
  padding: 10px;
  border-radius: 10px;
}

/* header banner */

.header-sub-content {
  text-align: center;
  font-size: 60px;
}

.header-sub-content h2 {
  margin: 0px;
  margin-top: 80px;
}

.hd-content-btn {
  text-align: center;
  align-items: center;
  display: block;
  margin: 37px auto 0px auto;
  padding: 12px 36px;
  background-color: #4E47FF;
  border-radius: 10px;
  color: white;
  font-size: 16px;

}

/* main section */
body {
  background-color: #F4F7FE;

}

.main-container {
  max-width: 1140px;
  margin: 0 auto;
}

/* Action contain */

.Action-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 116px auto;

}

.Action-content h3 {
  font-size: 42px;
}

.Action-container p {
  color: rgba(0, 0, 0, 0.5);
}

.Action-container img {
  border-radius: 20px;

}

.Action-container button {
  padding: 12px 36px;
  border-radius: 10px;
  background-color: #4E47FF;
  color: white;
}

/* Productive content */

.Productive-container {
  background-color: rgba(78, 71, 255, 0.1);
  padding: 50px 142px;
  text-align: center;
  border-radius: 20px
}

.Productive-container h3 {
  font-size: 38px;
}

.prod-des {
  margin: 0px;
  margin-bottom: 40px;
}

.prod-num {
  margin: 0px;
}

.prod-num-des {
  margin: 0;
}

.Productive-content {
  display: flex;
  justify-content: space-between;
}

.Productive-content h1 {
  color: rgba(78, 71, 255, 1);
  font-size: 75px;
}

.Productive-content p {
  color: rgba(0, 0, 0, 0.5);
}


/* users say section */
.user-say-containertwo {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.user-say-container {
  margin: 116px auto;
  padding: 24px;

}

.user-say-container h1 {
  text-align: center;
  margin-bottom: 50px;
}

.user-say-sub-container {
  background-color: white;
  padding: 24px;
  border-radius: 20px;
  min-width: 340px;
}

.user-say-content {
  display: flex;
  align-items: center;
}

.review-name {
  display: flex;
  gap: 10px;
  color: #757575;
}

.review-name img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.review-name h5 {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
}

/* contact section */

.contact-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 71px;

}

.contact-title h1 {
  font-size: 97px;
}

.contact-title div {
  flex: 1;

}

.contact-title form {
  flex: 1;
}



.contact-title form input {
  border: 0.5px solid #D6DDED;
  box-sizing: border-box;
  border-radius: 10px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-bottom: 17px;
  margin-top: 5px;
}



.textarea {
  border: 0.5px solid #D6DDED;
  box-sizing: border-box;
  border-radius: 10px;
  width: 100%;
  padding-left: 10px;
  padding-top: 10px;
  margin-top: 5px;
}


.Contact-submit {
  padding: 12px 36px;
  border-radius: 10px;
  background-color: #4E47FF;
  color: white;
  width: 100%;
}


.footerSec {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 104px 0px;
}

.footLogo {
  font-size: 100px;
  font-weight: 800;
  margin: 0;
  color: #4E47FF;

}

.footDesc {
  color: #8987A1;
  margin-bottom: 20px;
}

.footLinks {
  display: flex;
  align-items: center;
  gap: 48px;
}

.footLinks a {
  text-decoration: none;
  color: #8987A1;
}

.review-date {
  margin: 0;
  margin-top: 4px;
  color: #B3B3B3;
}

/* Shared Button Hover */
.btn-hover:hover {
  background-color: #6a65fd;
  cursor: pointer;
}